body {
  background-color: rgb(204, 214, 230);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90vw;
  margin: auto;
  display: flex;
  background-color: white;
  padding: 15px;
  justify-content: space-around;
}

/* Chat Section */
.chat-box {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 74%;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px 3px lightgrey;
}

#chats::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

#chats::-webkit-scrollbar-thumb {
  background-color: rgb(159, 159, 159);
  border-radius: 8px;
}

.online-users {
  width: 30%;
}

.top {
  display: block;
  width: 97%;
  background-color: rgb(238, 238, 238);
  margin: auto;
  height: 50px;
}
.user {
  /* width: 97%; */
  /* height: 35px; */
  height: 100%;
  /* margin: auto; */
  font-size: 18px;
  /* background-color: rgb(238, 238, 238); */
  display: flex;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
}

.typing-status {
  font-family: sans-serif;
  color: rgb(0, 196, 65);
  width: 100%;
  font-size: 12px;
  margin-top: -1px;
  font-weight: 550;
  margin-left: 35px;
}

.online {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: green;
}

.user-status {
  text-align: center;
  background-color: white;
  color: grey;
  max-width: 150px;
  font-size: 14px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 10px;
}

.username {
  color: green;
  margin-left: 10px;
}

.chats {
  width: 97%;
  position: relative;
  min-height: 70px;
  max-height: 450px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: auto;
  background-image: url("../image/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-position: center;
  align-items: center;
  overflow-y: scroll;
}

.input {
  width: 97%;
  height: 60px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#input-message {
  padding: 10px;
  width: 82%;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  border-radius: 7px;
}

#input-message:focus {
  outline: none;
}

#send-btn {
  width: 10%;
  padding: 10px;
  font-weight: 550;
  color: white;
  background-color: rgb(0, 196, 65);
  border: none;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border: 0.5px solid black;
}

#send-btn:hover {
  background-color: green;
  border: 1px solid white;
  border-radius: 25px;
}

.chat {
  margin: 15px 10px;
  display: flex;
  max-width: 80%;
}

.sender {
  flex-direction: row-reverse;
  margin-left: auto;
}

.sender .user-image {
  margin-right: 0px;
  margin-left: 10px;
}

.send-message {
  color: white;
  background-color: rgb(87, 159, 251);
  border-radius: 12px 12px 0px 12px;
}

.send-message > .user-message {
  display: flex;
  flex-direction: row-reverse;
}

.recieve-message {
  background-color: rgb(238, 238, 238);
  border-radius: 12px 12px 12px 0px;
}

.user-image {
  display: flex;
  width: 10%;
  min-width: 50px;
  max-width: 50px;
  margin-right: 10px;
  align-items: end;
  border-radius: 50%;
}

.user-image img {
  width: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-info {
  max-width: 90%;
}

.message-box-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 170px;
  box-sizing: content-box;
}

.user-name {
  font-weight: 550;
  max-width: 120px;
}

.user-time {
  font-size: 12px;
}
.user-message {
  padding: 0px 10px 15px;
  box-sizing: content-box;
  text-align: justify;
  word-spacing: 4px;
  line-height: 1.5;
}

/* Online User Section */
.online-users {
  width: 22%;
  /* background-color: lightblue; */
  border-radius: 5px;
}

.online-users-heading {
  min-height: 40px;
  width: 95%;
  color: white;
  background-color: rgb(13, 110, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.online-user {
  min-height: 40px;
  width: 95%;
  display: flex;
  background-color: rgb(209, 231, 221);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.online-user-name {
  margin-left: 10px;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .container {
    padding: 10px;
    justify-content: space-between;
  }
  .online-users {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 95vw;
  }
  #input-message {
    width: 75%;
  }

  #send-btn {
    width: 15%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 98vw;
  }
  .user-image {
    min-width: 40px;
    max-width: 40px;
  }

  .user-message {
    word-spacing: 0px;
  }

  #input-message {
    width: 74%;
  }

  #send-btn {
    width: 16%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    display: block;
  }

  .chat-box {
    width: 90%;
  }

  .online-users {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .online-users {
    width: 90%;
  }
  .chat {
    max-width: 85%;
    margin: 10px 5px;
  }
  #input-message {
    width: 60%;
  }

  #send-btn {
    width: 20%;
  }

  .user-image {
    margin-right: 5px;
  }

  .sender .user-image {
    margin-right: 0px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 400px) {
  .input {
    flex-direction: column;
    height: 100px;
  }

  .chat {
    margin: 8px 2px;
  }

  #input-message {
    width: 90%;
  }

  #send-btn {
    width: 60%;
    border-radius: 5px;
  }

  .message-box-heading {
    padding: 7px 6px 7px;
  }
  .user-message {
    padding: 0px 6px 7px;
  }
}

@media screen and (max-width: 350px) {
  .chat {
    max-width: 95%;
  }
}
