.class {
  height: 500px;
  width: 400px;
  justify-content: center;
  text-align: center;
}

#id {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 5;
  color: blue;
  background-image: linear-gradient(red, green);
}
