<main class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Resume</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>1</td>
                <td>Shahnawaaz Ansari</td>
                <td>+91-9119145616</td>
                <td><a href="/"><button class="btn btn-primary">View</button></a></td>
            </tr>
        </tbody>
    </table>
</main>