<div class="row">
  <div class="col-7 p75px ms-4 text-space">
    <h1 class="light-pink">A comprehensive platform for reliable</h1>
    <h2 class="text-light mt-4">Job Opportunity and Internships.</h2>
    <h5 class="text-light mt-3">Get Discovered Get Hired.</h5>
    <div class="buttons mt-3">
      <a href="/jobs"
        ><button
          type="button"
          class="btn btn-primary btn-lg bg-light-pink p-2 ps-3 pe-3 m-3"
        >
          I'm A Job Seeker
        </button></a
      >
      <button
        type="button"
        class="btn btn-primary btn-lg bg-light-pink p-2 ps-3 pe-3"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        I'm A Recruiter
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Experience Easily !!
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="name" class="col-form-label">Name : </label>
                </div>
                <div class="col-auto">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    aria-describedby="passwordHelpInline"
                  />
                </div>
                <div class="col-auto">
                  <label for="email" class="col-form-label">Email : </label>
                </div>
                <div class="col-auto">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    aria-describedby="passwordHelpInline"
                  />
                </div>
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label"
                    >Password</label
                  >
                </div>
                <div class="col-auto">
                  <input
                    type="password"
                    id="inputPassword6"
                    class="form-control"
                    aria-describedby="passwordHelpInline"
                  />
                </div>
              </div>
              <button type="button" class="btn btn-primary bg-light-pink mt-4">
                Ragister
              </button>
            </div>
            <div class="modal-footer">
              <span>Already Ragistered.?</span>
              <a href="/login">
                <button class="btn btn-outline-success" type="submit">
                  Login
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <figure class="figure-img">
      <img
        src="https://easily-deploy.onrender.com/images/banner.png"
        alt="JobSeeker Image"
      />
    </figure>
  </div>
</div>
