<link rel="stylesheet" href="/css/index.css" />
<main class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <figure class="figure-img overflow-hidden p-0">
        <img src="/images/banner.png" alt="JobSeeker Image" />
      </figure>
    </div>
    <div class="col-lg-8 text-space text-center p75px">
      <h1 class="light-pink">A comprehensive platform for reliable</h1>
      <h2 class="text-light mt-4">Job Opportunity and Internships.</h2>
      <h5 class="text-light mt-3">Get Discovered Get Hired.</h5>
      <div class="buttons mt-3">
        <a href="/jobs"
          ><button
            type="button"
            class="btn text-light btn-lg bg-light-pink p-2 ps-3 pe-3 m-3"
          >
            I'm A Job Seeker
          </button></a
        >
        <button
          type="button"
          class="btn text-light btn-lg bg-light-pink p-2 ps-3 pe-3"
          data-bs-toggle="modal"
          data-bs-target="#ragister"
        >
          I'm A Recruiter
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="ragister"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Experience Easily !!
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form action="/users/ragister" method="post">
                  <div class="row g-3 mt-2 align-items-center">
                    <div class="col-3">
                      <label for="name" class="col-form-label">Name</label>
                    </div>
                    <div class="col-9">
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="row g-3 mt-2 align-items-center">
                    <div class="col-3">
                      <label for="email" class="col-form-label">Email</label>
                    </div>
                    <div class="col-9">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="row g-3 mt-2 align-items-center">
                    <div class="col-3">
                      <label for="password" class="col-form-label"
                        >Password</label
                      >
                    </div>
                    <div class="col-9">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        required
                      />
                    </div>
                  </div>
                  <button class="btn text-light bg-light-pink col-12 mt-4">
                    Ragister
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                <span>Already Ragistered..?</span>
                <span
                  ><a href="/users/login"
                    ><button type="button" class="btn btn-outline-success">
                      Login
                    </button></a
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
