<link rel="stylesheet" href="/css/login.css" />
<main class="container mt-5">
  <div class="col-8 m-auto ps-1 pt-1 rounded bg-dark">
    <div class="login-content bg-white rounded shadow">
      <div class="text-center bg-white pt-3 mb-3">
        <h1>Login</h1>
      </div>
      <form action="/login" method="post">
        <div class="container mt-3 pb-5">
          <div class="row col-10 g-3 align-items-center m-auto">
            <div class="col-2">
              <label for="email" class="col-form-label">Email</label>
            </div>
            <div class="col-10">
              <input
                type="email"
                id="email"
                class="form-control"
                aria-describedby="passwordHelpInline"
                placeholder="Enter you email"
              />
            </div>
          </div>
          <div class="row col-10 g-3 align-items-center m-auto">
            <div class="col-2">
              <label for="inputPassword6" class="col-form-label"
                >Password</label
              >
            </div>
            <div class="col-10">
              <input
                type="password"
                id="inputPassword6"
                class="form-control"
                aria-describedby="passwordHelpInline"
                placeholder="Enter your password"
              />
            </div>
          </div>
          <div class="row col-10 g-3 align-items-center m-auto">
            <button class="btn btn-danger col-2">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
