<link rel="stylesheet" href="/css/login-failed.css">
<main class="container-fluid bg-dark text-center">
    <div class="container">
        <h1 class="text-light pt-5">Access Denied</h1>
        <h2 class="text-danger mt-5">Only recruiter is allowed to access this page, login as recruiter to continue</h2>
    </div>
</main>