<link rel="stylesheet" href="/css/login-failed.css">
<main class="container-fluid bg-dark">
    <h1 class="text-danger">only recruiter is allowed to access this page, login as recruiter to continue</h1>
</main>