<main class="container mt-5">
  <div class="col-10 ps-1 pt-1 bg-dark rounded m-auto">
    <div class="bg-white shadow">
      <h1 class="text-center">Post a New Job</h1>
      <form action="/postJob" method="post" class="col-11 m-auto">
        <div class="job-type">
          <select class="form-select mt-3" aria-label="Default select example">
            <option selected disabled>Select Job Type</option>
            <option value="1">Tech</option>
            <option value="2">Non-Tech</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</main>
