<main class="container mt-5">
  <div class="col-10 ps-1 pt-1 bg-dark rounded m-auto">
    <div class="bg-white shadow pt-3 pb-4">
      <h1 class="text-center mb-4">Post a New Job</h1>
      <form action="/postJob" method="post" class="col-11 m-auto">
        <div class="job-type">
          <select class="form-select mt-3" aria-label="Default select example" name="job-type">
            <option selected disabled>Select Job Type</option>
            <option value="1">Tech</option>
            <option value="2">Non-Tech</option>
          </select>
        </div>
        <div class="job-desingnation">
          <select class="form-select mt-3" aria-label="Default select example" name="job-desingnation">
            <option selected disabled>Select Job Desingnation</option>
            <option value="1">HR</option>
            <option value="2">SDE</option>
            <option value="2">DevOps</option>
            <option value="2">MERN Developer</option>
            <option value="2">MEAN Developer</option>
            <option value="2">JAVA Developer</option>
            <option value="2">Front End Developer</option>
            <option value="2">Back End Developer</option>
            <option value="2">Full Stack Web Developer</option>
          </select>
        </div>
        <div class="mt-3">
          <label for="job-location" class="form-label ps-1">Enter Job Location</label>
          <input type="text" class="form-control" id="job-location" placeholder="Eg.. Delhi, Noida" name="job-location">
        </div>
      </form>
    </div>
  </div>
</main>
